[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/index.ts:218](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/index.ts#L218)

## Properties

### issues

> **issues**: `string`[]

Defined in: [src/index.ts:220](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/index.ts#L220)

***

### valid

> **valid**: `boolean`

Defined in: [src/index.ts:219](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/index.ts#L219)
