[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/index.ts:220](https://github.com/Intelliger-ai/oati/blob/52f9fa955eeb6d95556b249267d471d080b5825c/sdk/typescript/src/index.ts#L220)

## Properties

### issues

> **issues**: `string`[]

Defined in: [src/index.ts:222](https://github.com/Intelliger-ai/oati/blob/52f9fa955eeb6d95556b249267d471d080b5825c/sdk/typescript/src/index.ts#L222)

***

### valid

> **valid**: `boolean`

Defined in: [src/index.ts:221](https://github.com/Intelliger-ai/oati/blob/52f9fa955eeb6d95556b249267d471d080b5825c/sdk/typescript/src/index.ts#L221)
