[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/index.ts:218](https://github.com/Intelliger-ai/oati/blob/fb53f49753ff3953e73a68b65793610a73015837/sdk/typescript/src/index.ts#L218)

## Properties

### issues

> **issues**: `string`[]

Defined in: [src/index.ts:220](https://github.com/Intelliger-ai/oati/blob/fb53f49753ff3953e73a68b65793610a73015837/sdk/typescript/src/index.ts#L220)

***

### valid

> **valid**: `boolean`

Defined in: [src/index.ts:219](https://github.com/Intelliger-ai/oati/blob/fb53f49753ff3953e73a68b65793610a73015837/sdk/typescript/src/index.ts#L219)
