[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / ValidationResult

# Interface: ValidationResult

## Properties

### issues

> **issues**: `string`[]

***

### valid

> **valid**: `boolean`
