[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/index.ts:217](https://github.com/Intelliger-ai/oati/blob/c08e10897dc5a776cbc5701b35b0139c32a1c30b/sdk/typescript/src/index.ts#L217)

## Properties

### issues

> **issues**: `string`[]

Defined in: [src/index.ts:219](https://github.com/Intelliger-ai/oati/blob/c08e10897dc5a776cbc5701b35b0139c32a1c30b/sdk/typescript/src/index.ts#L219)

***

### valid

> **valid**: `boolean`

Defined in: [src/index.ts:218](https://github.com/Intelliger-ai/oati/blob/c08e10897dc5a776cbc5701b35b0139c32a1c30b/sdk/typescript/src/index.ts#L218)
