[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / VerificationResult

# Interface: VerificationResult

## Properties

### algorithm?

> `optional` **algorithm?**: `"EdDSA"` \| `"ES256"`

***

### issuer?

> `optional` **issuer?**: `string`

***

### issues

> **issues**: [`VerificationIssue`](VerificationIssue.md)[]

***

### verificationMethod?

> `optional` **verificationMethod?**: `string`

***

### verified

> **verified**: `boolean`
