[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / VerificationResult

# Interface: VerificationResult

Defined in: [src/crypto.ts:99](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/crypto.ts#L99)

## Properties

### algorithm?

> `optional` **algorithm?**: `"EdDSA"` \| `"ES256"`

Defined in: [src/crypto.ts:101](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/crypto.ts#L101)

***

### issuer?

> `optional` **issuer?**: `string`

Defined in: [src/crypto.ts:103](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/crypto.ts#L103)

***

### issues

> **issues**: [`VerificationIssue`](VerificationIssue.md)[]

Defined in: [src/crypto.ts:104](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/crypto.ts#L104)

***

### verificationMethod?

> `optional` **verificationMethod?**: `string`

Defined in: [src/crypto.ts:102](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/crypto.ts#L102)

***

### verified

> **verified**: `boolean`

Defined in: [src/crypto.ts:100](https://github.com/Intelliger-ai/oati/blob/c5e5048f3717fa2834ac9d3541ad9c4be1c89965/sdk/typescript/src/crypto.ts#L100)
