[**@intelliger/oati**](../README.md)

***

[@intelliger/oati](../README.md) / VerificationResult

# Interface: VerificationResult

Defined in: src/crypto.ts:99

## Properties

### algorithm?

> `optional` **algorithm?**: `"EdDSA"` \| `"ES256"`

Defined in: src/crypto.ts:101

***

### issuer?

> `optional` **issuer?**: `string`

Defined in: src/crypto.ts:103

***

### issues

> **issues**: [`VerificationIssue`](VerificationIssue.md)[]

Defined in: src/crypto.ts:104

***

### verificationMethod?

> `optional` **verificationMethod?**: `string`

Defined in: src/crypto.ts:102

***

### verified

> **verified**: `boolean`

Defined in: src/crypto.ts:100
